.button:active{transform:scale(.96)}.button:before,.button:after{position:absolute;content:"";max-width: 320px !important;width:150%;left:50%;height:100%;transform:translateX(-50%);z-index:-1000;background-repeat:no-repeat}.button:hover:before{top:-70%;background-image:radial-gradient(circle,var(--primary) 20%,transparent 20%),radial-gradient(circle,transparent 20%,var(--primary) 20%,transparent 30%),radial-gradient(circle,var(--primary) 20%,transparent 20%),radial-gradient(circle,var(--primary) 20%,transparent 20%),radial-gradient(circle,transparent 10%,var(--primary) 15%,transparent 20%),radial-gradient(circle,var(--primary) 20%,transparent 20%),radial-gradient(circle,var(--primary) 20%,transparent 20%),radial-gradient(circle,var(--primary) 20%,transparent 20%),radial-gradient(circle,var(--primary) 20%,transparent 20%);background-size:10% 10%,20% 20%,15% 15%,20% 20%,18% 18%,10% 10%,15% 15%,10% 10%,18% 18%;background-position:50% 120%;animation:greentopBubbles 0.6s ease}@keyframes greentopBubbles{0%{background-position:5% 90%,10% 90%,10% 90%,15% 90%,25% 90%,25% 90%,40% 90%,55% 90%,70% 90%}50%{background-position:0% 80%,0% 20%,10% 40%,20% 0%,30% 30%,22% 50%,50% 50%,65% 20%,90% 30%}100%{background-position:0% 70%,0% 10%,10% 30%,20% -10%,30% 20%,22% 40%,50% 40%,65% 10%,90% 20%;background-size:0% 0%,0% 0%,0% 0%,0% 0%,0% 0%,0% 0%}}.button:hover::after{bottom:-70%;background-image:radial-gradient(circle,var(--primary) 20%,transparent 20%),radial-gradient(circle,var(--primary) 20%,transparent 20%),radial-gradient(circle,transparent 10%,var(--primary) 15%,transparent 20%),radial-gradient(circle,var(--primary) 20%,transparent 20%),radial-gradient(circle,var(--primary) 20%,transparent 20%),radial-gradient(circle,var(--primary) 20%,transparent 20%),radial-gradient(circle,var(--primary) 20%,transparent 20%);background-size:15% 15%,20% 20%,18% 18%,20% 20%,15% 15%,20% 20%,18% 18%;background-position:50% 0%;animation:greenbottomBubbles 0.6s ease}@keyframes greenbottomBubbles{0%{background-position:10% -10%,30% 10%,55% -10%,70% -10%,85% -10%,70% -10%,70% 0%}50%{background-position:0% 80%,20% 80%,45% 60%,60% 100%,75% 70%,95% 60%,105% 0%}100%{background-position:0% 90%,20% 90%,45% 70%,60% 110%,75% 80%,95% 70%,110% 10%;background-size:0% 0%,0% 0%,0% 0%,0% 0%,0% 0%,0% 0%}}

.hs-button:active{transform:scale(.96)}
.hs-button:before,.hs-button:after{position:absolute;content:"";max-width: 320px !important;width:150%;left:50%;height:100%;transform:translateX(-50%);z-index:-1000;background-repeat:no-repeat}
.hs-button:hover:before{top:-70%;background-image:radial-gradient(circle,var(--primary) 20%,transparent 20%),radial-gradient(circle,transparent 20%,var(--primary) 20%,transparent 30%),radial-gradient(circle,var(--primary) 20%,transparent 20%),radial-gradient(circle,var(--primary) 20%,transparent 20%),radial-gradient(circle,transparent 10%,var(--primary) 15%,transparent 20%),radial-gradient(circle,var(--primary) 20%,transparent 20%),radial-gradient(circle,var(--primary) 20%,transparent 20%),radial-gradient(circle,var(--primary) 20%,transparent 20%),radial-gradient(circle,var(--primary) 20%,transparent 20%);background-size:10% 10%,20% 20%,15% 15%,20% 20%,18% 18%,10% 10%,15% 15%,10% 10%,18% 18%;background-position:50% 120%;animation:greentopBubbles 0.6s ease}@keyframes greentopBubbles{0%{background-position:5% 90%,10% 90%,10% 90%,15% 90%,25% 90%,25% 90%,40% 90%,55% 90%,70% 90%}50%{background-position:0% 80%,0% 20%,10% 40%,20% 0%,30% 30%,22% 50%,50% 50%,65% 20%,90% 30%}100%{background-position:0% 70%,0% 10%,10% 30%,20% -10%,30% 20%,22% 40%,50% 40%,65% 10%,90% 20%;background-size:0% 0%,0% 0%,0% 0%,0% 0%,0% 0%,0% 0%}}.hs-button:hover::after{bottom:-70%;background-image:radial-gradient(circle,var(--primary) 20%,transparent 20%),radial-gradient(circle,var(--primary) 20%,transparent 20%),radial-gradient(circle,transparent 10%,var(--primary) 15%,transparent 20%),radial-gradient(circle,var(--primary) 20%,transparent 20%),radial-gradient(circle,var(--primary) 20%,transparent 20%),radial-gradient(circle,var(--primary) 20%,transparent 20%),radial-gradient(circle,var(--primary) 20%,transparent 20%);background-size:15% 15%,20% 20%,18% 18%,20% 20%,15% 15%,20% 20%,18% 18%;background-position:50% 0%;animation:greenbottomBubbles 0.6s ease}@keyframes greenbottomBubbles{0%{background-position:10% -10%,30% 10%,55% -10%,70% -10%,85% -10%,70% -10%,70% 0%}50%{background-position:0% 80%,20% 80%,45% 60%,60% 100%,75% 70%,95% 60%,105% 0%}100%{background-position:0% 90%,20% 90%,45% 70%,60% 110%,75% 80%,95% 70%,110% 10%;background-size:0% 0%,0% 0%,0% 0%,0% 0%,0% 0%,0% 0%}}
input[type="submit"].w-form-loading {
   background-color: #d9fc67!important;
}
.hs-input {
    border: 1px solid var(--white);
    background-color: var(--white);
    color: var(--black);
    border-radius: 4px;
    height: 100%;
    max-height: 49.0278px;
    margin-bottom: 0;
    padding: 15px 8px!important;
    font-size: 16px;
    line-height: 1.42857;
    display: block;
    width: 100%;
}

.hs-button {
    border: 1px solid var(--primary);
    background-color: var(--primary);
    font-family: var(--default-font-family);
    color: var(--black);
    font-size: var(--cta-btn);
    line-height: 120%;
    font-weight: var(--cta-font-weight);
    text-align: center;
    letter-spacing: .03px;
    text-transform: uppercase;
    border-radius: 4px;
    margin-top: 0;
    margin-right: 0;
    padding: 15px 40px;
    transition: all .2s;
    overflow: visible;
}

fieldset.form-columns-2 {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.hbspt-form form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.hbspt-form .hs-button{
    margin-top: 10px;
    cursor: pointer;
}

@media (max-width: 479px) {
    fieldset.form-columns-2 {
        flex-direction: column;
    }
}
  